.msg-box-img-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;

  &:nth-child(2n) {
    justify-content: flex-end;
  }

  .msg-box-img {
    border-radius: 8px;
    width: 44px;
    height: 44px;
    object-fit: cover;
  }

  .msg-text-box {
    background-color: map-get($theme-colors, light-blue-color);
    padding: 1em;
    margin-left: 1em;
    border-radius: 10px 10px 10px 0;
    width: 50%;
    padding-right: 2em;

    @include xs {
      width: 100%;
    }
    @include sm {
      width: 80%;
    }

    .msg-text {
      font-size: 0.85em;
      font-family: Poppins-Medium;
    }
  }
}
